@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/AbrilFatface.ttf') format('truetype');
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease-in-out;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.btn-creator {
  transition: 0.5s 0.1s ease-in-out !important;
  background-size: auto 200%;
  box-shadow: 0 0 10px #9333ea;
  background-image: linear-gradient(
    to bottom,
    #c084fc 0%,
    #9333ea 51%,
    #c084fc 100%
  );
}

.btn-creator:hover {
  background-position: center bottom; /* change the direction of the change here */
  box-shadow: 0 0 15px #9333ea;
}

.btn-agency {
  transition: 0.5s ease-in-out 0.1s !important;
  background-size: auto 200%;
  box-shadow: 0 0 10px #6366f1;
  background-image: linear-gradient(
    to bottom,
    #6366f1 0%,
    #4f46e5 51%,
    #6366f1 100%
  );
}

.btn-agency:hover {
  background-position: center bottom; /* change the direction of the change here */
  box-shadow: 0 0 15px #6366f1;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 3px #e6e6e6;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7851a9;
}
