// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$color-pack: false;
$heading-font-family: 'Abril Fatface', cursive;
$body-font-family: 'Montserrat', sans-serif;
// $material-light: (
//   'background': #fcf2fc,
// );
